body,
div,
h1,
ul,
ol,
li,
p,
a,
img,
header,
section,
input,
h2,
h3,
h4,
button {
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    /* 去掉下划线 */
    color: #000;
}

input,
button {
    border: 0;
    outline: 0;
    /* 线条无颜色 */
}

ul,
ol,
li {
    list-style: none;
    /* 去掉前面的小点（样式） */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 0.12rem;
    font-weight: normal;
    /*font-size字体大小  font-weight字体加粗 */
}

body {
    font-size: 12px;
    background: #ffffff;
    color: #666;
    /* width: 1598px; */
}
.quan{
    width: 1010px;
    margin: 0 auto;
}
.layout{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* background: greenyellow; */
}
